In [2]:
import json
import pandas as pd
import pymongo

In [3]:

# Define the path to your JSON file
json_file_path = 'C:/Users/santh/Desktop/Capstone Projects/New folder/PROJECTS/airbnb_analysis/data/sample_airbnb.json'

# Open and load the JSON file
with open(json_file_path, 'r', encoding='utf-8') as data:
    json_data = json.load(data)

# Display the loaded JSON data
# json_data

In [4]:
df_sample = pd.DataFrame(json_data)
df_sample

,_id,listing_url,name,summary,space,description,neighborhood_overview,notes,transit,access,...,guests_included,images,host,address,availability,review_scores,reviews,weekly_price,monthly_price,reviews_per_month
0,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,,"Murphy bed, optional second bedroom available....","Murphy bed, optional second bedroom available....",Great neighborhood - many terrific restaurants...,"My cat, Samantha, are in and out during the su...","Conveniently located near 1, 2, 3, B & C subwa...",New York City!,...,1.0,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '454250', 'host_url': 'https://www...","{'street': 'New York, NY, United States', 'sub...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '4351675', 'date': '2013-04-29 04:00:...",NaN,NaN,NaN
1,10133554,https://www.airbnb.com/rooms/10133554,Double and triple rooms Blue mosque,,We are on the central city Blue mosque 5 minu...,We are on the central city Blue mosque 5 minu...,Cankurtaran mahallesi akbıyık caddesi no 22 Su...,,Tram 5 minutes metro 10 minutes Bus 10 minutes,"We have bathroom,wc,İnternet in rooms and unde...",...,1.0,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '52004703', 'host_url': 'https://w...","{'street': 'Fatih , İstanbul, Turkey', 'suburb...","{'availability_30': 30, 'availability_60': 60,...","{'review_scores_accuracy': 9, 'review_scores_c...","[{'_id': '149469150', 'date': '2017-05-04 04:0...",NaN,NaN,NaN
2,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient","Clean, fully furnish, Spacious 1 bedroom flat ...",,"Clean, fully furnish, Spacious 1 bedroom flat ...",,,,,...,1.0,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51624384', 'host_url': 'https://w...","{'street': 'Hong Kong, Hong Kong Island, Hong ...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '56904633', 'date': '2015-12-19 05:00...",5000.0,NaN,NaN
3,10084023,https://www.airbnb.com/rooms/10084023,City center private room with bed,House is located 5mins walk from Sham Shui Po ...,"The house is old fashion type, and paint the w...",House is located 5mins walk from Sham Shui Po ...,"Cheapest food, electronic device, clothing and...",Deposit of $1000 will be charged and will retu...,"Close to 3 different MTR Station, Sham shui Po...","Living Room , Kitchen and Toilet, All cooking ...",...,1.0,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51744313', 'host_url': 'https://w...","{'street': 'Hong Kong , 九龍, Hong Kong', 'subur...","{'availability_30': 14, 'availability_60': 24,...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '57191745', 'date': '2015-12-22 05:00...",1350.0,5000.0,NaN
4,10091713,https://www.airbnb.com/rooms/10091713,Surry Hills Studio - Your Perfect Base in Sydney,"This spacious, light filled studio has everyth...",Comfortable studio with a great layout. The ba...,"This spacious, light filled studio has everyth...",Surry Hills is a vibrant eclectic community an...,"WiFi, Apple TV with Netflix App (for use with ...",Travel Card 'Opal' travel cards work on all Sy...,You have full use of the entire studio and com...,...,1.0,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '13764143', 'host_url': 'https://w...","{'street': 'Surry Hills, NSW, Australia', 'sub...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '123549502', 'date': '2016-12-29 05:0...",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9985696,https://www.airbnb.com/rooms/9985696,Kadıköy-Altıyol,Kadıköy merkezde 2+1 dairem vardır.Çok kalabal...,,Kadıköy merkezde 2+1 dairem vardır.Çok kalabal...,,,,,...,1.0,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51303748', 'host_url': 'https://w...","{'street': 'Kadıköy, İstanbul, Turkey', 'subur...","{'availability_30': 30, 'availability_60': 60,...",{},[],NaN,NaN,NaN
5551,9993190,https://www.airbnb.com/rooms/9993190,Just Steps from the Ocean at Premier Platinum ...,Relax Hawaiian Style in Gated Community on Oce...,"***NOTE: THE OCEAN INFINITY POOL (""POOL 1""0 WI...",Relax Hawaiian Style in Gated Community on Oce...,Location: Located at the south end of Lahaina ...,Puamana Resort requires a $10/day resort fee w...,You can walk to most attractions within Lahain...,Guests will have access to the 3 pools in the ...,...,1.0,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51013381', 'host_url': 'https://w...","{'street': 'Lahaina, HI, United States', 'subu...","{'availability_30': 0, 'availability_60': 8, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '68762225', 'date': '2016-04-06 04:00...",NaN,NaN,NaN
5552,9887054,https://www.airbnb.com/rooms/9887054,Quarry Bay fully furnished studio C,Newly renovated studio flat with full furniture.,,Newly renovated studio flat with full furniture.,,,,,...,2.0,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '31386255', 'host_url': 'https://w...","{'street': 'Hong Kong, Hong Kong Island, Hong ...","{'availability_30': 18, 'availability_60': 48,...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '105800033', 'date': '2016-10-02 04:0...",NaN,NaN,NaN
5553,9907907,https://www.airbnb.com/rooms/9907907,Large double room in Bondi,A bright large double room is available in a b...,,A bright large double room is available in a b...,,,The flat is exactly half way between the shops...,"Guests will have access to the full residence,...",...,2.0,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '47615848', 'host_url': 'https://w...","{'street': 'Bondi Beach, NSW, Australia', 'sub...","{'availability_30': 0, 'availability_60': 0, '...",{},[],NaN,NaN,NaN
5554,9936016,https://www.airbnb.com/rooms/9936016,Alugo Apartamento na Tijuca,Apartamento amplo que acomoda 6 pessoas. Um qu...,,Apartamento amplo que acomoda 6 pessoas. Um qu...,,,,,...,1.0,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '47092481', 'host_url': 'https://w...","{'street': 'Rio de Janeiro, Rio de Janeiro, Br...","{'availability_30': 0, 'availability_60': 0, '...",{},[],NaN,NaN,NaN

In [6]:

client = pymongo.MongoClient("mongodb+srv://Santhi:santhikichu@cluster0.jwz3noh.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")
db = client['Airbnb_Analysis']
collection = db["data"]

# Converting DataFrame to a list of dictionaries
data_to_insert = df_sample.to_dict(orient='records')

# Inserting the documents into the collection
result = collection.insert_many(data_to_insert)
print("Documents Uploaded Successfully")

Documents Uploaded Successfully

In [7]:
df_sample.isnull().sum()

_id                         0
listing_url                 0
name                        0
summary                     0
space                       0
description                 0
neighborhood_overview       0
notes                       0
transit                     0
access                      0
interaction                 0
house_rules                 0
property_type               0
room_type                   0
bed_type                    0
minimum_nights              0
maximum_nights              0
cancellation_policy         0
last_scraped                0
calendar_last_scraped       0
first_review             1388
last_review              1388
accommodates                0
bedrooms                    5
beds                       13
number_of_reviews           0
bathrooms                  10
amenities                   0
price                       0
security_deposit         2084
cleaning_fee             1531
extra_people                0
guests_included             0
images                      0
host                        0
address                     0
availability                0
review_scores               0
reviews                     0
weekly_price             4841
monthly_price            4899
reviews_per_month        5461
dtype: int64

In [10]:
#null values present in :
        
    # first_review          
    # last_review   
    # bedrooms                    
    # beds 
    #vbathrooms   
    # security_deposit        
    # cleaning_fee    
    # weekly_price            
    # monthly_price         
    # reviews_per_month

In [11]:
df_sample['first_review'].fillna(0,inplace = True)
df_sample['last_review'].fillna(0,inplace = True)
df_sample['bedrooms'].fillna(0,inplace = True)
df_sample['beds'].fillna(0,inplace = True)
df_sample['bathrooms'].fillna(0,inplace = True)
df_sample['security_deposit'].fillna(0,inplace = True)
df_sample['cleaning_fee'].fillna(0,inplace = True)
df_sample['weekly_price'].fillna(0,inplace = True)
df_sample['monthly_price'].fillna(0,inplace = True)
df_sample['reviews_per_month'].fillna(0,inplace = True)

C:\Users\santh\AppData\Local\Temp\ipykernel_20596\77668252.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_sample['first_review'].fillna(0,inplace = True)
C:\Users\santh\AppData\Local\Temp\ipykernel_20596\77668252.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_sample['last_review'].fillna(0,inplace = True)
C:\Users\santh\AppData\Local\Temp\ipykernel_20596\77668252.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_sample['bedrooms'].fillna(0,inplace = True)
C:\Users\santh\AppData\Local\Temp\ipykernel_20596\77668252.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_sample['beds'].fillna(0,inplace = True)
C:\Users\santh\AppData\Local\Temp\ipykernel_20596\77668252.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_sample['bathrooms'].fillna(0,inplace = True)
C:\Users\santh\AppData\Local\Temp\ipykernel_20596\77668252.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_sample['security_deposit'].fillna(0,inplace = True)
C:\Users\santh\AppData\Local\Temp\ipykernel_20596\77668252.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_sample['cleaning_fee'].fillna(0,inplace = True)
C:\Users\santh\AppData\Local\Temp\ipykernel_20596\77668252.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_sample['weekly_price'].fillna(0,inplace = True)
C:\Users\santh\AppData\Local\Temp\ipykernel_20596\77668252.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_sample['monthly_price'].fillna(0,inplace = True)
C:\Users\santh\AppData\Local\Temp\ipykernel_20596\77668252.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_sample['reviews_per_month'].fillna(0,inplace = True)

In [12]:
df_sample.isnull().sum()

_id                      0
listing_url              0
name                     0
summary                  0
space                    0
description              0
neighborhood_overview    0
notes                    0
transit                  0
access                   0
interaction              0
house_rules              0
property_type            0
room_type                0
bed_type                 0
minimum_nights           0
maximum_nights           0
cancellation_policy      0
last_scraped             0
calendar_last_scraped    0
first_review             0
last_review              0
accommodates             0
bedrooms                 0
beds                     0
number_of_reviews        0
bathrooms                0
amenities                0
price                    0
security_deposit         0
cleaning_fee             0
extra_people             0
guests_included          0
images                   0
host                     0
address                  0
availability             0
review_scores            0
reviews                  0
weekly_price             0
monthly_price            0
reviews_per_month        0
dtype: int64

In [13]:
df_sample.dtypes

_id                       object
listing_url               object
name                      object
summary                   object
space                     object
description               object
neighborhood_overview     object
notes                     object
transit                   object
access                    object
interaction               object
house_rules               object
property_type             object
room_type                 object
bed_type                  object
minimum_nights            object
maximum_nights            object
cancellation_policy       object
last_scraped              object
calendar_last_scraped     object
first_review              object
last_review               object
accommodates               int64
bedrooms                 float64
beds                     float64
number_of_reviews          int64
bathrooms                float64
amenities                 object
price                    float64
security_deposit         float64
cleaning_fee             float64
extra_people             float64
guests_included          float64
images                    object
host                      object
address                   object
availability              object
review_scores             object
reviews                   object
weekly_price             float64
monthly_price            float64
reviews_per_month        float64
dtype: object

In [14]:
#change the data types

In [15]:
df_sample['minimum_nights'] = df_sample['minimum_nights'].astype(int)
df_sample['maximum_nights'] = df_sample['maximum_nights'].astype(int)
df_sample['bedrooms'] = df_sample['bedrooms'].astype(int)
df_sample['beds'] = df_sample['beds'].astype(int)
df_sample['bathrooms'] = df_sample['bathrooms'].astype(int)
df_sample['price'] = df_sample['price'].astype(str).astype(float).astype(int)
df_sample['cleaning_fee'] = df_sample['cleaning_fee'].astype(int)
df_sample['extra_people'] = df_sample['extra_people'].astype(int)
df_sample['guests_included'] = df_sample['guests_included'].astype(int)
df_sample['weekly_price'] = df_sample['weekly_price'].astype(int)
df_sample['monthly_price'] = df_sample['monthly_price'].astype(int)
df_sample['reviews_per_month'] = df_sample['reviews_per_month'].astype(int)

In [16]:
df_sample.dtypes

_id                       object
listing_url               object
name                      object
summary                   object
space                     object
description               object
neighborhood_overview     object
notes                     object
transit                   object
access                    object
interaction               object
house_rules               object
property_type             object
room_type                 object
bed_type                  object
minimum_nights             int32
maximum_nights             int32
cancellation_policy       object
last_scraped              object
calendar_last_scraped     object
first_review              object
last_review               object
accommodates               int64
bedrooms                   int32
beds                       int32
number_of_reviews          int64
bathrooms                  int32
amenities                 object
price                      int32
security_deposit         float64
cleaning_fee               int32
extra_people               int32
guests_included            int32
images                    object
host                      object
address                   object
availability              object
review_scores             object
reviews                   object
weekly_price               int32
monthly_price              int32
reviews_per_month          int32
dtype: object

In [17]:
# Host details

In [18]:
# Fetching documents from the collection with the specified projection
host = []
for i in collection.find({}, {
    '_id': 1,
    'host': 1,
}):
    host.append(i)

# Creating a DataFrame from the fetched documents
df_host = pd.DataFrame(host)

# Display the DataFrame
df_host

           _id                                               host
0      1003530  {'host_id': '454250', 'host_url': 'https://www...
1     10133554  {'host_id': '52004703', 'host_url': 'https://w...
2     10059872  {'host_id': '51624384', 'host_url': 'https://w...
3     10084023  {'host_id': '51744313', 'host_url': 'https://w...
4     10091713  {'host_id': '13764143', 'host_url': 'https://w...
...        ...                                                ...
5550   9985696  {'host_id': '51303748', 'host_url': 'https://w...
5551   9993190  {'host_id': '51013381', 'host_url': 'https://w...
5552   9887054  {'host_id': '31386255', 'host_url': 'https://w...
5553   9907907  {'host_id': '47615848', 'host_url': 'https://w...
5554   9936016  {'host_id': '47092481', 'host_url': 'https://w...

[5555 rows x 2 columns]

In [19]:
host_columns= {'_id':[],'host_id':[], 'host_url':[], 'host_name':[], 'host_location':[],"host_response_time":[], 'host_thumbnail_url':[], 'host_picture_url':[], 'host_neighbourhood':[], 'host_response_rate':[], 'host_is_superhost':[], 'host_has_profile_pic':[], 'host_identity_verified':[], 'host_listings_count':[], 'host_total_listings_count':[], 'host_verifications':[]}

for i in df_host["_id"]:
    host_columns["_id"].append(i)
for i in df_host["host"]:
    host_columns["host_id"].append(i["host_id"])
    host_columns["host_url"].append(i["host_url"])
    host_columns["host_name"].append(i["host_name"])
    host_columns["host_location"].append(i["host_location"])
    host_columns["host_response_time"].append(i.get("host_response_time"))
    host_columns["host_thumbnail_url"].append(i["host_thumbnail_url"])
    host_columns["host_picture_url"].append(i["host_picture_url"])
    host_columns["host_neighbourhood"].append(i["host_neighbourhood"])
    host_columns["host_response_rate"].append(i.get("host_response_rate"))
    host_columns["host_is_superhost"].append(i["host_is_superhost"])
    host_columns["host_has_profile_pic"].append(i["host_has_profile_pic"])
    host_columns["host_identity_verified"].append(i["host_identity_verified"])
    host_columns["host_listings_count"].append(i["host_listings_count"])
    host_columns["host_total_listings_count"].append(i["host_total_listings_count"])
    host_columns["host_verifications"].append(i["host_verifications"])

In [20]:
df_host= pd.DataFrame(host_columns)
df_host.head(5)

,_id,host_id,host_url,host_name,host_location,host_response_time,host_thumbnail_url,host_picture_url,host_neighbourhood,host_response_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,1003530,454250,https://www.airbnb.com/users/show/454250,Greta,"New York, New York, United States",within an hour,https://a0.muscache.com/im/pictures/f1022be4-e...,https://a0.muscache.com/im/pictures/f1022be4-e...,,100.0,True,True,True,3,3,"[email, phone, reviews, jumio, offline_governm..."
1,10133554,52004703,https://www.airbnb.com/users/show/52004703,Mehmet Emin,"Istanbul, İstanbul, Turkey",within a few hours,https://a0.muscache.com/im/pictures/user/4cb6b...,https://a0.muscache.com/im/pictures/user/4cb6b...,,100.0,False,True,True,2,2,"[email, phone, facebook, reviews, jumio, offli..."
2,10059872,51624384,https://www.airbnb.com/users/show/51624384,Giovanni,"Hong Kong, Hong Kong",None,https://a0.muscache.com/im/pictures/264b82a7-7...,https://a0.muscache.com/im/pictures/264b82a7-7...,Soho,NaN,False,True,False,1,1,"[email, phone, reviews, jumio, government_id]"
3,10084023,51744313,https://www.airbnb.com/users/show/51744313,Yi,United States,within an hour,https://a0.muscache.com/im/pictures/user/a204d...,https://a0.muscache.com/im/pictures/user/a204d...,Shek Kip Mei,100.0,False,True,True,2,2,"[email, phone, reviews, jumio, offline_governm..."
4,10091713,13764143,https://www.airbnb.com/users/show/13764143,Ben,"New South Wales, Australia",None,https://a0.muscache.com/im/pictures/03c4d82b-7...,https://a0.muscache.com/im/pictures/03c4d82b-7...,Surry Hills,NaN,False,True,True,1,1,"[email, phone, google, reviews, jumio, offline..."

In [21]:
df_host.isnull().sum()

_id                             0
host_id                         0
host_url                        0
host_name                       0
host_location                   0
host_response_time           1388
host_thumbnail_url              0
host_picture_url                0
host_neighbourhood              0
host_response_rate           1388
host_is_superhost               0
host_has_profile_pic            0
host_identity_verified          0
host_listings_count             0
host_total_listings_count       0
host_verifications              0
dtype: int64

In [22]:
df_host["host_response_time"].fillna("Not Specified",inplace= True)
df_host["host_response_rate"].fillna("Not Specified",inplace= True)

C:\Users\santh\AppData\Local\Temp\ipykernel_20596\3549105767.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_host["host_response_time"].fillna("Not Specified",inplace= True)
C:\Users\santh\AppData\Local\Temp\ipykernel_20596\3549105767.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_host["host_response_rate"].fillna("Not Specified",inplace= True)
C:\Users\santh\AppData\Local\Temp\ipykernel_20596\3549105767.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Not Specified' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_host["host_response_rate"].fillna("Not Specified",inplace= True)

In [23]:
# host_neighbourhood have more empty values ('')

list_hs_neighbr= []
for index,row in df_host.iterrows():
    if row["host_neighbourhood"] =='':
        list_hs_neighbr.append(index)

In [24]:
len(list_hs_neighbr)

1923

In [25]:
# "host_neighbourhood" have a "1923" empty values ('')
# so we want to replace thet empty values
df_host["host_neighbourhood"]= df_host["host_neighbourhood"].replace({'':"Not Specified"})

In [26]:
df_host.isnull().sum()

_id                          0
host_id                      0
host_url                     0
host_name                    0
host_location                0
host_response_time           0
host_thumbnail_url           0
host_picture_url             0
host_neighbourhood           0
host_response_rate           0
host_is_superhost            0
host_has_profile_pic         0
host_identity_verified       0
host_listings_count          0
host_total_listings_count    0
host_verifications           0
dtype: int64

In [27]:
df_host

,_id,host_id,host_url,host_name,host_location,host_response_time,host_thumbnail_url,host_picture_url,host_neighbourhood,host_response_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,1003530,454250,https://www.airbnb.com/users/show/454250,Greta,"New York, New York, United States",within an hour,https://a0.muscache.com/im/pictures/f1022be4-e...,https://a0.muscache.com/im/pictures/f1022be4-e...,Not Specified,100.0,True,True,True,3,3,"[email, phone, reviews, jumio, offline_governm..."
1,10133554,52004703,https://www.airbnb.com/users/show/52004703,Mehmet Emin,"Istanbul, İstanbul, Turkey",within a few hours,https://a0.muscache.com/im/pictures/user/4cb6b...,https://a0.muscache.com/im/pictures/user/4cb6b...,Not Specified,100.0,False,True,True,2,2,"[email, phone, facebook, reviews, jumio, offli..."
2,10059872,51624384,https://www.airbnb.com/users/show/51624384,Giovanni,"Hong Kong, Hong Kong",Not Specified,https://a0.muscache.com/im/pictures/264b82a7-7...,https://a0.muscache.com/im/pictures/264b82a7-7...,Soho,Not Specified,False,True,False,1,1,"[email, phone, reviews, jumio, government_id]"
3,10084023,51744313,https://www.airbnb.com/users/show/51744313,Yi,United States,within an hour,https://a0.muscache.com/im/pictures/user/a204d...,https://a0.muscache.com/im/pictures/user/a204d...,Shek Kip Mei,100.0,False,True,True,2,2,"[email, phone, reviews, jumio, offline_governm..."
4,10091713,13764143,https://www.airbnb.com/users/show/13764143,Ben,"New South Wales, Australia",Not Specified,https://a0.muscache.com/im/pictures/03c4d82b-7...,https://a0.muscache.com/im/pictures/03c4d82b-7...,Surry Hills,Not Specified,False,True,True,1,1,"[email, phone, google, reviews, jumio, offline..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9985696,51303748,https://www.airbnb.com/users/show/51303748,Eren,"Kadikoy, Çanakkale, Turkey",Not Specified,https://a0.muscache.com/im/pictures/89a1b839-2...,https://a0.muscache.com/im/pictures/89a1b839-2...,Not Specified,Not Specified,False,True,False,2,2,"[email, phone]"
5551,9993190,51013381,https://www.airbnb.com/users/show/51013381,Coconut Condos,"Lahaina, Hawaii, United States",within an hour,https://a0.muscache.com/im/pictures/fa071e13-8...,https://a0.muscache.com/im/pictures/fa071e13-8...,Not Specified,99.0,False,True,True,58,58,"[email, phone, reviews, kba, work_email]"
5552,9887054,31386255,https://www.airbnb.com/users/show/31386255,Cat,Hong Kong,within a day,https://a0.muscache.com/im/pictures/965f2c12-5...,https://a0.muscache.com/im/pictures/965f2c12-5...,Causeway Bay,60.0,False,True,False,7,7,"[email, phone, reviews]"
5553,9907907,47615848,https://www.airbnb.com/users/show/47615848,Lucy,"Bondi Beach, New South Wales, Australia",Not Specified,https://a0.muscache.com/im/pictures/b4675d0a-f...,https://a0.muscache.com/im/pictures/b4675d0a-f...,Not Specified,Not Specified,False,True,False,1,1,"[email, phone]"
5554,9936016,47092481,https://www.airbnb.com/users/show/47092481,Aliane,BR,Not Specified,https://a0.muscache.com/im/pictures/4b17fc8e-4...,https://a0.muscache.com/im/pictures/4b17fc8e-4...,Not Specified,Not Specified,False,True,False,1,1,[phone]

In [28]:
#adress details

In [29]:
address= []
for i in collection.find({}, {"_id":1, "address":1}):
    address.append(i)

In [30]:

df_address= pd.DataFrame(address)

In [31]:
address_columns= {'_id':[], 'street':[], 'suburb':[], 'government_area':[], 'market':[], 'country':[],
                   'country_code':[], 'location_type':[], "longitude":[], "latitude":[],
                    "is_location_exact":[]}

for i in df_address["_id"]:
    address_columns["_id"].append(i)

for i in df_address["address"]:
    address_columns["street"].append(i["street"])
    address_columns["suburb"].append(i["suburb"])
    address_columns["government_area"].append(i["government_area"])
    address_columns["market"].append(i["market"])
    address_columns["country"].append(i["country"])
    address_columns["country_code"].append(i["country_code"])
    address_columns["location_type"].append(i["location"]["type"])
    address_columns["longitude"].append(i["location"]["coordinates"][0])
    address_columns["latitude"].append(i["location"]["coordinates"][1])
    address_columns["is_location_exact"].append(i["location"]["is_location_exact"])

In [32]:
df_address= pd.DataFrame(address_columns)
df_address.head(5)

,_id,street,suburb,government_area,market,country,country_code,location_type,longitude,latitude,is_location_exact
0,1003530,"New York, NY, United States",Manhattan,Upper West Side,New York,United States,US,Point,-73.96523,40.79962,False
1,10133554,"Fatih , İstanbul, Turkey",Fatih,Fatih,Istanbul,Turkey,TR,Point,28.98009,41.00620,False
2,10059872,"Hong Kong, Hong Kong Island, Hong Kong",Central & Western District,Central & Western,Hong Kong,Hong Kong,HK,Point,114.15027,22.28158,True
3,10084023,"Hong Kong , 九龍, Hong Kong",Sham Shui Po District,Sham Shui Po,Hong Kong,Hong Kong,HK,Point,114.16690,22.33140,True
4,10091713,"Surry Hills, NSW, Australia",Darlinghurst,Sydney,Sydney,Australia,AU,Point,151.21554,-33.88029,True

In [33]:
df_address.isnull().sum()

_id                  0
street               0
suburb               0
government_area      0
market               0
country              0
country_code         0
location_type        0
longitude            0
latitude             0
is_location_exact    0
dtype: int64

In [34]:
df_address.isna().sum()

_id                  0
street               0
suburb               0
government_area      0
market               0
country              0
country_code         0
location_type        0
longitude            0
latitude             0
is_location_exact    0
dtype: int64

In [35]:
# Checking the empty values ('') for all features

#for i in df_address_1.columns:
id_e=[]
stre_e=[]
suburb_e=[]
gov_e=[]
mark_e=[]
cntry_e=[]
cntry_co_e=[]
loc_ty_e=[]
long_e=[]
lat_e=[]
is_loc_tr_e=[]
for index,row in df_address.iterrows():
    if row["_id"] == '':
        id_e.append(index)

    if row["street"] == '':
        stre_e.append(index)
        
    if row["suburb"] == '':
        suburb_e.append(index)

    if row["government_area"] == '':
        gov_e.append(index)

    if row["market"] == '':
        mark_e.append(index)

    if row["country"] == '':
        cntry_e.append(index)
    
    if row["country_code"] == '':
        cntry_co_e.append(index)

    if row["location_type"] == '':
        loc_ty_e.append(index) 

    if row["longitude"] == '':
        long_e.append(index)

    if row["latitude"] == '':
        lat_e.append(index)

    if row["is_location_exact"] == '':
        is_loc_tr_e.append(index)

In [36]:
empty_columns=[id_e,stre_e,suburb_e,gov_e,mark_e,cntry_e,cntry_co_e,loc_ty_e,long_e,lat_e,is_loc_tr_e]
for i in empty_columns:
    print(len(i))

0
0
887
0
6
0
0
0
0
0
0

In [37]:
# "suburb" and "market" have a empty values

df_address["suburb"]= df_address["suburb"].replace({'':"Not Specified"})
df_address["market"]= df_address["market"].replace({'':"Not Specified"})

In [38]:
#availability

In [39]:
availability= []
for i in collection.find({}, {"_id":1, "availability":1}):
    availability.append(i)

In [40]:
df_available= pd.DataFrame(availability)
df_available

           _id                                       availability
0      1003530  {'availability_30': 0, 'availability_60': 0, '...
1     10133554  {'availability_30': 30, 'availability_60': 60,...
2     10059872  {'availability_30': 0, 'availability_60': 0, '...
3     10084023  {'availability_30': 14, 'availability_60': 24,...
4     10091713  {'availability_30': 0, 'availability_60': 0, '...
...        ...                                                ...
5550   9985696  {'availability_30': 30, 'availability_60': 60,...
5551   9993190  {'availability_30': 0, 'availability_60': 8, '...
5552   9887054  {'availability_30': 18, 'availability_60': 48,...
5553   9907907  {'availability_30': 0, 'availability_60': 0, '...
5554   9936016  {'availability_30': 0, 'availability_60': 0, '...

[5555 rows x 2 columns]

In [41]:
available_columns= {'_id':[], 'availability_30':[], 'availability_60':[], 'availability_90':[], 'availability_365':[]}

for i in df_available["_id"]:
    available_columns["_id"].append(i)

for i in df_available["availability"]:
    available_columns["availability_30"].append(i["availability_30"])
    available_columns["availability_60"].append(i["availability_60"])
    available_columns["availability_90"].append(i["availability_90"])
    available_columns["availability_365"].append(i["availability_365"])

In [42]:
df_available= pd.DataFrame(available_columns)
df_available

,_id,availability_30,availability_60,availability_90,availability_365
0,1003530,0,0,0,93
1,10133554,30,60,90,365
2,10059872,0,0,0,0
3,10084023,14,24,40,220
4,10091713,0,0,0,0
...,...,...,...,...,...
5550,9985696,30,60,90,365
5551,9993190,0,8,31,258
5552,9887054,18,48,78,353
5553,9907907,0,0,0,0
5554,9936016,0,0,0,0

In [43]:
df_available.isnull().sum()

_id                 0
availability_30     0
availability_60     0
availability_90     0
availability_365    0
dtype: int64

In [44]:
df_available.dtypes

_id                 object
availability_30      int64
availability_60      int64
availability_90      int64
availability_365     int64
dtype: object

In [45]:
#Amenities collection

In [46]:
amenities= []
for i in collection.find({},{"_id":1, "amenities":1}):
    amenities.append(i)

In [47]:
df_amenities= pd.DataFrame(amenities)

In [48]:
def sort_amenities(x):
    if isinstance(x, list):
        x.sort()
    return x

df_amenities["amenities"] = df_amenities["amenities"].apply(sort_amenities)

In [49]:
df_amenities

           _id                                          amenities
0      1003530  [Air conditioning, Buzzer/wireless intercom, D...
1     10133554  [Air conditioning, Building staff, Dryer, Esse...
2     10059872  [24-hour check-in, Air conditioning, Doorman, ...
3     10084023  [Air conditioning, Dishes and silverware, Elev...
4     10091713  [Bed linens, Dryer, Elevator, Essentials, Ethe...
...        ...                                                ...
5550   9985696  [Buzzer/wireless intercom, Cable TV, Dryer, Es...
5551   9993190  [Air conditioning, Dryer, Essentials, Family/k...
5552   9887054  [24-hour check-in, Air conditioning, Elevator,...
5553   9907907  [Dryer, Essentials, Hangers, Internet, Kitchen...
5554   9936016  [Air conditioning, Buzzer/wireless intercom, C...

[5555 rows x 2 columns]

In [50]:
df_amenities.isnull().sum()

_id          0
amenities    0
dtype: int64

In [51]:
df_amenities.dtypes

_id          object
amenities    object
dtype: object

In [52]:
# add all dataframes into one 

df_final = pd.merge(df_sample, df_host, on="_id")
df_final = pd.merge(df_final, df_address, on="_id")
df_final = pd.merge(df_final, df_available, on="_id")
df_final = pd.merge(df_final, df_amenities, on="_id")

In [53]:
df_final

,_id,listing_url,name,summary,space,description,neighborhood_overview,notes,transit,access,...,country_code,location_type,longitude,latitude,is_location_exact,availability_30,availability_60,availability_90,availability_365,amenities_y
0,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,,"Murphy bed, optional second bedroom available....","Murphy bed, optional second bedroom available....",Great neighborhood - many terrific restaurants...,"My cat, Samantha, are in and out during the su...","Conveniently located near 1, 2, 3, B & C subwa...",New York City!,...,US,Point,-73.965230,40.799620,False,0,0,0,93,"[Air conditioning, Buzzer/wireless intercom, D..."
1,10133554,https://www.airbnb.com/rooms/10133554,Double and triple rooms Blue mosque,,We are on the central city Blue mosque 5 minu...,We are on the central city Blue mosque 5 minu...,Cankurtaran mahallesi akbıyık caddesi no 22 Su...,,Tram 5 minutes metro 10 minutes Bus 10 minutes,"We have bathroom,wc,İnternet in rooms and unde...",...,TR,Point,28.980090,41.006200,False,30,60,90,365,"[Air conditioning, Building staff, Dryer, Esse..."
2,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient","Clean, fully furnish, Spacious 1 bedroom flat ...",,"Clean, fully furnish, Spacious 1 bedroom flat ...",,,,,...,HK,Point,114.150270,22.281580,True,0,0,0,0,"[24-hour check-in, Air conditioning, Doorman, ..."
3,10084023,https://www.airbnb.com/rooms/10084023,City center private room with bed,House is located 5mins walk from Sham Shui Po ...,"The house is old fashion type, and paint the w...",House is located 5mins walk from Sham Shui Po ...,"Cheapest food, electronic device, clothing and...",Deposit of $1000 will be charged and will retu...,"Close to 3 different MTR Station, Sham shui Po...","Living Room , Kitchen and Toilet, All cooking ...",...,HK,Point,114.166900,22.331400,True,14,24,40,220,"[Air conditioning, Dishes and silverware, Elev..."
4,10091713,https://www.airbnb.com/rooms/10091713,Surry Hills Studio - Your Perfect Base in Sydney,"This spacious, light filled studio has everyth...",Comfortable studio with a great layout. The ba...,"This spacious, light filled studio has everyth...",Surry Hills is a vibrant eclectic community an...,"WiFi, Apple TV with Netflix App (for use with ...",Travel Card 'Opal' travel cards work on all Sy...,You have full use of the entire studio and com...,...,AU,Point,151.215540,-33.880290,True,0,0,0,0,"[Bed linens, Dryer, Elevator, Essentials, Ethe..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9985696,https://www.airbnb.com/rooms/9985696,Kadıköy-Altıyol,Kadıköy merkezde 2+1 dairem vardır.Çok kalabal...,,Kadıköy merkezde 2+1 dairem vardır.Çok kalabal...,,,,,...,TR,Point,29.030790,40.985630,False,30,60,90,365,"[Buzzer/wireless intercom, Cable TV, Dryer, Es..."
5551,9993190,https://www.airbnb.com/rooms/9993190,Just Steps from the Ocean at Premier Platinum ...,Relax Hawaiian Style in Gated Community on Oce...,"***NOTE: THE OCEAN INFINITY POOL (""POOL 1""0 WI...",Relax Hawaiian Style in Gated Community on Oce...,Location: Located at the south end of Lahaina ...,Puamana Resort requires a $10/day resort fee w...,You can walk to most attractions within Lahain...,Guests will have access to the 3 pools in the ...,...,US,Point,-156.667520,20.858940,False,0,8,31,258,"[Air conditioning, Dryer, Essentials, Family/k..."
5552,9887054,https://www.airbnb.com/rooms/9887054,Quarry Bay fully furnished studio C,Newly renovated studio flat with full furniture.,,Newly renovated studio flat with full furniture.,,,,,...,HK,Point,114.207220,22.291570,False,18,48,78,353,"[24-hour check-in, Air conditioning, Elevator,..."
5553,9907907,https://www.airbnb.com/rooms/9907907,Large double room in Bondi,A bright large double room is available in a b...,,A bright large double room is available in a b...,,,The flat is exactly half way between the shops...,"Guests will have access to the full residence,...",...,AU,Point,151.265420,-33.892980,False,0,0,0,0,"[Dryer, Essentials, Hangers, Internet, Kitchen..."
5554,9936016,https://www.airbnb.com/rooms/9936016,Alugo Apartamento na Tijuca,Apartamento amplo que acomoda 6 pessoas. Um qu...,,Apartamento amplo que acomoda 6 pessoas. Um qu...,,,,,...,BR,Point,-43.173761,-22.908336,False,0,0,0,0,"[Air conditioning, Buzzer/wireless intercom, C..."

In [55]:
#save the file in csv format
df_final.to_csv("airbnb_sample_data.csv",index = False)

In [56]:
df_final = pd.read_csv("C:/Users/santh/Desktop/Capstone Projects/New folder/PROJECTS/airbnb_analysis/airbnb_sample_data.csv")
df_final

,_id,listing_url,name,summary,space,description,neighborhood_overview,notes,transit,access,...,country_code,location_type,longitude,latitude,is_location_exact,availability_30,availability_60,availability_90,availability_365,amenities_y
0,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,NaN,"Murphy bed, optional second bedroom available....","Murphy bed, optional second bedroom available....",Great neighborhood - many terrific restaurants...,"My cat, Samantha, are in and out during the su...","Conveniently located near 1, 2, 3, B & C subwa...",New York City!,...,US,Point,-73.965230,40.799620,False,0,0,0,93,"['Air conditioning', 'Buzzer/wireless intercom..."
1,10133554,https://www.airbnb.com/rooms/10133554,Double and triple rooms Blue mosque,NaN,We are on the central city Blue mosque 5 minu...,We are on the central city Blue mosque 5 minu...,Cankurtaran mahallesi akbıyık caddesi no 22 Su...,NaN,Tram 5 minutes metro 10 minutes Bus 10 minutes,"We have bathroom,wc,İnternet in rooms and unde...",...,TR,Point,28.980090,41.006200,False,30,60,90,365,"['Air conditioning', 'Building staff', 'Dryer'..."
2,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient","Clean, fully furnish, Spacious 1 bedroom flat ...",NaN,"Clean, fully furnish, Spacious 1 bedroom flat ...",NaN,NaN,NaN,NaN,...,HK,Point,114.150270,22.281580,True,0,0,0,0,"['24-hour check-in', 'Air conditioning', 'Door..."
3,10084023,https://www.airbnb.com/rooms/10084023,City center private room with bed,House is located 5mins walk from Sham Shui Po ...,"The house is old fashion type, and paint the w...",House is located 5mins walk from Sham Shui Po ...,"Cheapest food, electronic device, clothing and...",Deposit of $1000 will be charged and will retu...,"Close to 3 different MTR Station, Sham shui Po...","Living Room , Kitchen and Toilet, All cooking ...",...,HK,Point,114.166900,22.331400,True,14,24,40,220,"['Air conditioning', 'Dishes and silverware', ..."
4,10091713,https://www.airbnb.com/rooms/10091713,Surry Hills Studio - Your Perfect Base in Sydney,"This spacious, light filled studio has everyth...",Comfortable studio with a great layout. The ba...,"This spacious, light filled studio has everyth...",Surry Hills is a vibrant eclectic community an...,"WiFi, Apple TV with Netflix App (for use with ...",Travel Card 'Opal' travel cards work on all Sy...,You have full use of the entire studio and com...,...,AU,Point,151.215540,-33.880290,True,0,0,0,0,"['Bed linens', 'Dryer', 'Elevator', 'Essential..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9985696,https://www.airbnb.com/rooms/9985696,Kadıköy-Altıyol,Kadıköy merkezde 2+1 dairem vardır.Çok kalabal...,NaN,Kadıköy merkezde 2+1 dairem vardır.Çok kalabal...,NaN,NaN,NaN,NaN,...,TR,Point,29.030790,40.985630,False,30,60,90,365,"['Buzzer/wireless intercom', 'Cable TV', 'Drye..."
5551,9993190,https://www.airbnb.com/rooms/9993190,Just Steps from the Ocean at Premier Platinum ...,Relax Hawaiian Style in Gated Community on Oce...,"***NOTE: THE OCEAN INFINITY POOL (""POOL 1""0 WI...",Relax Hawaiian Style in Gated Community on Oce...,Location: Located at the south end of Lahaina ...,Puamana Resort requires a $10/day resort fee w...,You can walk to most attractions within Lahain...,Guests will have access to the 3 pools in the ...,...,US,Point,-156.667520,20.858940,False,0,8,31,258,"['Air conditioning', 'Dryer', 'Essentials', 'F..."
5552,9887054,https://www.airbnb.com/rooms/9887054,Quarry Bay fully furnished studio C,Newly renovated studio flat with full furniture.,NaN,Newly renovated studio flat with full furniture.,NaN,NaN,NaN,NaN,...,HK,Point,114.207220,22.291570,False,18,48,78,353,"['24-hour check-in', 'Air conditioning', 'Elev..."
5553,9907907,https://www.airbnb.com/rooms/9907907,Large double room in Bondi,A bright large double room is available in a b...,NaN,A bright large double room is available in a b...,NaN,NaN,The flat is exactly half way between the shops...,"Guests will have access to the full residence,...",...,AU,Point,151.265420,-33.892980,False,0,0,0,0,"['Dryer', 'Essentials', 'Hangers', 'Internet',..."
5554,9936016,https://www.airbnb.com/rooms/9936016,Alugo Apartamento na Tijuca,Apartamento amplo que acomoda 6 pessoas. Um qu...,NaN,Apartamento amplo que acomoda 6 pessoas. Um qu...,NaN,NaN,NaN,NaN,...,BR,Point,-43.173761,-22.908336,False,0,0,0,0,"['Air conditioning', 'Buzzer/wireless intercom..."